:root {
    --base-color: #000000;
    --text-color: #505050;
    --progress-color: green;

    --player-width: 300px;
    --control-size: 32px;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: var(--text-color);
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--player-width);
}

.fileSelect {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.header {
    text-align: center;
    margin-bottom: 32px;
}

.header__title {
    margin-bottom: 8px;
}

.header__subtitle {
    margin: 0;
}

.fileSelect__label {
    height: 100px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.controls__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--control-size);
    width: var(--control-size);
    border-radius: 50%;
    margin-right: 8px;
    background: lightblue;
    cursor: pointer;
}

.controls__btn:disabled {
    background: lightgreen;
}

.controls__play .controls__icon {
    display: block;
    width: 0px;
    height: 0px;
    border: 6px solid;
    border-color: transparent transparent transparent var(--base-color);
    border-right: 0px solid transparent;
    border-left: 10px solid var(--base-color);
    margin-left: 1px;
}

.controls__stop .controls__icon {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--base-color);
}

.controls__indicator-container {
    flex: 1;
    position: relative;
    height: 14px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 2px;
}

.controls__indicator-bar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--progress-color);
    transform: scaleX(0);
    transform-origin: left;
}

.song {
    width: 100%;
    margin-bottom: 16px;
}

.song__info {
    display: none;
}

.song--selected .song__select {
    display: none;
}

.song--selected .song__info {
    display: flex;
}