:root {
    --base-color: #000000;
    --text-color: #505050;
    --progress-color: green;

    --player-width: 400px;
    --control-size: 32px;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: var(--text-color);
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: var(--player-width);
}

.fileSelect {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.header {
    text-align: center;
    margin-bottom: 32px;
}

.header__title {
    margin-bottom: 8px;
}

.header__subtitle {
    margin: 0;
}

.fileSelect__label {
    height: 100px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid var(--base-color);
    margin-bottom: -1px;
}

.controls__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--control-size);
    width: var(--control-size);
    border-radius: 50%;
    margin-right: 8px;
    background: lightblue;
    cursor: pointer;
}

.controls__btn:disabled {
    background: lightgreen;
}

.controls__icon--play {
    display: block;
    width: 0px;
    height: 0px;
    border: 6px solid;
    border-color: transparent transparent transparent var(--base-color);
    border-right: 0px solid transparent;
    border-left: 10px solid var(--base-color);
    margin-left: 1px;
}

.controls__icon--pause {
    display: none;
    width: 2px;
    height: 10px;
    background: transparent;
    border-left: 4px solid var(--base-color);
    border-right: 4px solid var(--base-color);
}

.controls__play--playing .controls__icon--play {
    display: none;
}

.controls__play--playing .controls__icon--pause {
    display: block;
}

.controls__icon--stop {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--base-color);
}

.controls__icon--add-1 {
    width: 4px;
    height: 14px;
    background: var(--base-color);
    position: absolute;
    left: 12px;
}

.controls__icon--add-2 {
    width: 14px;
    height: 4px;
    background: var(--base-color);
}

.controls__indicator-container {
    flex: 1;
    position: relative;
    height: 14px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 2px;
}

.controls__indicator-bar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--progress-color);
    transform: scaleX(0);
    transform-origin: left;
}

.song {
    width: 100%;
    margin-bottom: 16px;
}

.song__info {
    display: none;
}

.song--selected .song__select {
    display: none;
}

.song--selected .song__info {
    display: flex;
}

.message-box {
    width: 100%;
    margin-top: 16px;
    padding: 16px 8px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.25 ease-in-out;

    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.message-box--hidden {
    opacity: 0;
}

.message-box--error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.titles {
    width: 200px;
}

.u-nolist {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.titles__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
    padding-right: 8px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.titles__item:last-child {
    margin-bottom: 0;
}

.titles__item:hover {
    background-color: #f8f9fa;
}

.titles__link {
    flex: 1;
    padding: 8px;
    cursor: pointer;
}

.checkpoints__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
    padding-right: 8px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.checkpoints__item:last-child {
    margin-bottom: 0;
}

.checkpoints__item:hover {
    background-color: #f8f9fa;
}

.checkpoints__link {
    flex: 1;
    padding: 8px;
    cursor: pointer;
}

.checkpoints__action {
    padding: 0 8px;
}